.gamegrid {
    width: 25% !important;
    height: 25% !important;
    font-size: 36px;
    vertical-align: top;
    color:rgb(136, 126, 98);
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    background-color:rgb(227, 211, 165);
    border-color: rgb(136, 126, 98);
    border-style:solid;
    border-radius: 15px;
}
.gamegrid:active{
    outline: none;
}

body{
    background-color: rgb(136, 126, 98);
}

h1 {
    color: rgb(227, 211, 165);
}
h2 {
    color: rgb(227, 211, 165);
}

div{
    size: 200;
    width: 400px;
    height: 400px;
    text-align: center;
    margin: auto;
}
.center {
    text-align: center;
}

#winner {
    display: none;
    color: rgb(250, 255, 230);
}

#reset {
    display: none;
    font-size: 18px;
    height: 60px;
    width: 25%;
    color:rgb(136, 126, 98);
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    background-color:rgb(227, 211, 165);
    border-width: 3px;
    border-color: rgb(136, 126, 98);
    border-style:solid;
    border-radius: 10px;
}

.reset-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
  .playersbutton {
    display: flex;
    justify-content: center;
    margin-top: -3rem;
  }
  #playerselection {
    display: block;
    font-size: 18px;
    height: 60px;
    width: 25%;
    color:rgb(136, 126, 98);
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    background-color:rgb(227, 211, 165);
    border-color: rgb(136, 126, 98);
    border-width: 3px;
    border-style:solid;
    border-radius: 10px;
}
